@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  font-family: "Open Sans", sans-serif;
  background-image: url();
}
.cards-display {
  display: flex;
  gap: 50px;
}

.card-container {
  border: 1px solid black;
  height: 200px;
  width: 200px;
}

.card-image {
  height: 200px;
  width: 200px;
}